body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-item.has-dropdown:hover,
.navbar-link,
.navbar-item.has-dropdown.is-active,
.navbar-link.navbar-item.has-dropdown.is-active {
    background-color: $secondary !important;
}

.navbar-item img {
  min-height: 2.75rem !important;
}

.my-singin-btn{
  margin-left: 0.5rem;
}